body {
    background-color: black;
}

body {
    background-image: url(/images/mountains-universe-1.png);
    font-size: 1.6rem;
    min-height: 93.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Roboto', sans-serif;
}

button {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    background: none;
    color: var(--color-primary);
    padding: 2rem 10rem;
    font-family: 'Roboto', sans-serif;
    transition-duration: 700MS;
}


button:hover {
    background-color: #ffffff;
    color: black;

}

.box-error {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}